<section>
  <div class="page-header">
      <div class="row">
        <div class="col-md-4">
          <h1 ng-bind="vm.game.title"></h1>
        </div>
        <div class="col-md-4">
            <div class="col-md-6">
                <a ng-show="vm.readyButton" ng-click="vm.ready()" class="btn text-center center-block btn-success {{vm.readyButton === 'show' ? 'active' : 'disabled'}}" style="margin-top: 2em;">
                    Ready
                </a>
            </div>
            <div class="col-md-6">
                <a ng-show="!vm.spectating()" ng-click="vm.leave()" class="btn btn-danger text-center center-block" style="margin-top: 2em;">Leave</a>
            </div>
        </div>
        <div class="col-md-4" style="margin-top: 2em">
            <p ng-hide="vm.game.users.length" class="list-group-item-text pull-right small">No players in this room </p>
            <p class="list-group-item-text pull-right small">
                <span>Players:&nbsp;</span>
                <span ng-repeat="user in vm.game.users">
                    <span ng-bind="user.username"></span> &nbsp;
                </span>
            </p>
            <BR>
            <p class="list-group-item-text pull-right small" ng-show="vm.game.spectators.length">
                <span>Spectators:&nbsp;</span>
                <span ng-repeat="user in vm.game.spectators">
                    <span ng-bind="user.username"></span> &nbsp;
                </span>
            </p>
            <p ng-hide="vm.game.spectators.length" class="list-group-item-text pull-right small">No spectators in this room </p>

        </div>
    </div>
  </div>
  <div class="col-md-12">
      <div class="col-md-12">
          {{vm.spectating() ? "Spectating" : "In Room"}}
          <BR/>
          {{vm.playing() ? "Playing" : "Not Playing"}}
      </div>
    <div class="col-md-10">
    </div>
    <div class="col-md-2">
        <div ng-show="vm.bidding()">
            <div class="input-group">
                <input type="number" ng-model="vm.bidAmount" class="form-control" placeholder="Bid Amount">
                <span class="input-group-addon">$</span>
            </div>
            <a class="btn btn-success col-md-12 poker-button" ng-click="vm.raisePoker()">Raise</a>
            <a class="btn btn-success col-md-12 poker-button" ng-show="vm.canCheck()" ng-click="vm.checkPoker()">Check</a>
            <a class="btn btn-success disabled col-md-12 poker-button" disabled ng-hide="vm.canCheck()">Check</a>
            <a class="btn btn-info col-md-12 poker-button" ng-click="vm.callPoker()">Call</a>
            <a class="btn btn-danger col-md-12 poker-button" ng-click="vm.foldPoker()">Fold</a>
        </div>
    </div>
  </div>
</section>
